<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>data</key>
				<array>
					<dict>
						<key>id</key>
						<string>101</string>
						<key>name</key>
						<string>iOS学科</string>
					</dict>
					<dict>
						<key>id</key>
						<string>102</string>
						<key>name</key>
						<string>UI学科</string>
					</dict>
					<dict>
						<key>id</key>
						<string>103</string>
						<key>name</key>
						<string>JAVA学科</string>
					</dict>
					<dict>
						<key>id</key>
						<string>104</string>
						<key>name</key>
						<string>HTML学科</string>
					</dict>
					<dict>
						<key>id</key>
						<string>104</string>
						<key>name</key>
						<string>吖了个峥</string>
					</dict>
					<dict>
						<key>id</key>
						<string>104</string>
						<key>name</key>
						<string>峥</string>
					</dict>
				</array>
				<key>id</key>
				<string>20</string>
				<key>name</key>
				<string>课程</string>
			</dict>
		</array>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>小码哥</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>data</key>
				<array>
					<dict>
						<key>id</key>
						<string>101</string>
						<key>name</key>
						<string>钢琴</string>
					</dict>
					<dict>
						<key>id</key>
						<string>102</string>
						<key>name</key>
						<string>吉他</string>
					</dict>
					<dict>
						<key>id</key>
						<string>103</string>
						<key>name</key>
						<string>古筝</string>
					</dict>
					<dict>
						<key>id</key>
						<string>104</string>
						<key>name</key>
						<string>葫芦丝</string>
					</dict>
					<dict>
						<key>id</key>
						<string>105</string>
						<key>name</key>
						<string>小提琴</string>
					</dict>
					<dict>
						<key>id</key>
						<string>106</string>
						<key>name</key>
						<string>萨克斯</string>
					</dict>
					<dict>
						<key>id</key>
						<string>107</string>
						<key>name</key>
						<string>琵琶</string>
					</dict>
					<dict>
						<key>id</key>
						<string>108</string>
						<key>name</key>
						<string>二胡</string>
					</dict>
					<dict>
						<key>id</key>
						<string>109</string>
						<key>name</key>
						<string>电子琴</string>
					</dict>
					<dict>
						<key>id</key>
						<string>110</string>
						<key>name</key>
						<string>架子鼓</string>
					</dict>
					<dict>
						<key>id</key>
						<string>111</string>
						<key>name</key>
						<string>大提琴</string>
					</dict>
					<dict>
						<key>id</key>
						<string>112</string>
						<key>name</key>
						<string>电吉他</string>
					</dict>
					<dict>
						<key>id</key>
						<string>113</string>
						<key>name</key>
						<string>单簧管</string>
					</dict>
					<dict>
						<key>id</key>
						<string>114</string>
						<key>name</key>
						<string>双簧管</string>
					</dict>
					<dict>
						<key>id</key>
						<string>115</string>
						<key>name</key>
						<string>笛子</string>
					</dict>
					<dict>
						<key>id</key>
						<string>116</string>
						<key>name</key>
						<string>扬琴</string>
					</dict>
					<dict>
						<key>id</key>
						<string>117</string>
						<key>name</key>
						<string>爵士鼓</string>
					</dict>
					<dict>
						<key>id</key>
						<string>118</string>
						<key>name</key>
						<string>长号</string>
					</dict>
					<dict>
						<key>id</key>
						<string>119</string>
						<key>name</key>
						<string>唢呐</string>
					</dict>
					<dict>
						<key>id</key>
						<string>120</string>
						<key>name</key>
						<string>小号</string>
					</dict>
					<dict>
						<key>id</key>
						<string>121</string>
						<key>name</key>
						<string>圆号</string>
					</dict>
					<dict>
						<key>id</key>
						<string>122</string>
						<key>name</key>
						<string>手鼓</string>
					</dict>
					<dict>
						<key>id</key>
						<string>123</string>
						<key>name</key>
						<string>非洲鼓</string>
					</dict>
					<dict>
						<key>id</key>
						<string>124</string>
						<key>name</key>
						<string>马林巴</string>
					</dict>
					<dict>
						<key>id</key>
						<string>125</string>
						<key>name</key>
						<string>口琴</string>
					</dict>
					<dict>
						<key>id</key>
						<string>126</string>
						<key>name</key>
						<string>贝斯</string>
					</dict>
					<dict>
						<key>id</key>
						<string>127</string>
						<key>name</key>
						<string>手风琴</string>
					</dict>
					<dict>
						<key>id</key>
						<string>128</string>
						<key>name</key>
						<string>萧</string>
					</dict>
					<dict>
						<key>id</key>
						<string>129</string>
						<key>name</key>
						<string>尤克里里</string>
					</dict>
					<dict>
						<key>id</key>
						<string>130</string>
						<key>name</key>
						<string>竖琴</string>
					</dict>
					<dict>
						<key>id</key>
						<string>131</string>
						<key>name</key>
						<string>古琴</string>
					</dict>
					<dict>
						<key>id</key>
						<string>132</string>
						<key>name</key>
						<string>箜篌</string>
					</dict>
				</array>
				<key>id</key>
				<string>20</string>
				<key>name</key>
				<string>乐器</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<dict>
						<key>id</key>
						<string>133</string>
						<key>name</key>
						<string>街舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>134</string>
						<key>name</key>
						<string>拉丁舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>135</string>
						<key>name</key>
						<string>芭蕾舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>136</string>
						<key>name</key>
						<string>现代舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>137</string>
						<key>name</key>
						<string>爵士舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>138</string>
						<key>name</key>
						<string>肚皮舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>139</string>
						<key>name</key>
						<string>古典舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>140</string>
						<key>name</key>
						<string>民族舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>141</string>
						<key>name</key>
						<string>韩舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>142</string>
						<key>name</key>
						<string>钢管舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>143</string>
						<key>name</key>
						<string>健美操</string>
					</dict>
					<dict>
						<key>id</key>
						<string>144</string>
						<key>name</key>
						<string>民间舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>145</string>
						<key>name</key>
						<string>国标舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>146</string>
						<key>name</key>
						<string>探戈</string>
					</dict>
					<dict>
						<key>id</key>
						<string>147</string>
						<key>name</key>
						<string>广场舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>148</string>
						<key>name</key>
						<string>啦啦队舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>149</string>
						<key>name</key>
						<string>锐舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>150</string>
						<key>name</key>
						<string>迪斯科</string>
					</dict>
					<dict>
						<key>id</key>
						<string>151</string>
						<key>name</key>
						<string>集体舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>152</string>
						<key>name</key>
						<string>踢踏舞</string>
					</dict>
					<dict>
						<key>id</key>
						<string>153</string>
						<key>name</key>
						<string>TB秀</string>
					</dict>
				</array>
				<key>id</key>
				<string>21</string>
				<key>name</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<dict>
						<key>id</key>
						<string>154</string>
						<key>name</key>
						<string>素描</string>
					</dict>
					<dict>
						<key>id</key>
						<string>155</string>
						<key>name</key>
						<string>创意画</string>
					</dict>
					<dict>
						<key>id</key>
						<string>156</string>
						<key>name</key>
						<string>国画</string>
					</dict>
					<dict>
						<key>id</key>
						<string>157</string>
						<key>name</key>
						<string>油画</string>
					</dict>
					<dict>
						<key>id</key>
						<string>158</string>
						<key>name</key>
						<string>水粉画</string>
					</dict>
					<dict>
						<key>id</key>
						<string>159</string>
						<key>name</key>
						<string>水彩画</string>
					</dict>
					<dict>
						<key>id</key>
						<string>160</string>
						<key>name</key>
						<string>沙画</string>
					</dict>
					<dict>
						<key>id</key>
						<string>161</string>
						<key>name</key>
						<string>插画</string>
					</dict>
					<dict>
						<key>id</key>
						<string>162</string>
						<key>name</key>
						<string>卡通画</string>
					</dict>
					<dict>
						<key>id</key>
						<string>163</string>
						<key>name</key>
						<string>简笔画</string>
					</dict>
					<dict>
						<key>id</key>
						<string>164</string>
						<key>name</key>
						<string>速写</string>
					</dict>
					<dict>
						<key>id</key>
						<string>165</string>
						<key>name</key>
						<string>漫画</string>
					</dict>
					<dict>
						<key>id</key>
						<string>166</string>
						<key>name</key>
						<string>美术高考</string>
					</dict>
				</array>
				<key>id</key>
				<string>22</string>
				<key>name</key>
				<string>绘画</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<dict>
						<key>id</key>
						<string>167</string>
						<key>name</key>
						<string>硬笔书法</string>
					</dict>
					<dict>
						<key>id</key>
						<string>168</string>
						<key>name</key>
						<string>软笔书法</string>
					</dict>
				</array>
				<key>id</key>
				<string>23</string>
				<key>name</key>
				<string>书法</string>
			</dict>
		</array>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>艺术</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>data</key>
				<array>
					<dict>
						<key>id</key>
						<string>169</string>
						<key>name</key>
						<string>摄影</string>
					</dict>
					<dict>
						<key>id</key>
						<string>170</string>
						<key>name</key>
						<string>瑜伽</string>
					</dict>
					<dict>
						<key>id</key>
						<string>171</string>
						<key>name</key>
						<string>棋牌</string>
					</dict>
					<dict>
						<key>id</key>
						<string>172</string>
						<key>name</key>
						<string>健身</string>
					</dict>
					<dict>
						<key>id</key>
						<string>173</string>
						<key>name</key>
						<string>武术</string>
					</dict>
					<dict>
						<key>id</key>
						<string>174</string>
						<key>name</key>
						<string>兴趣运动其他</string>
					</dict>
				</array>
				<key>id</key>
				<string>24</string>
				<key>name</key>
				<string>兴趣运动</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<dict>
						<key>id</key>
						<string>175</string>
						<key>name</key>
						<string>婚恋</string>
					</dict>
					<dict>
						<key>id</key>
						<string>176</string>
						<key>name</key>
						<string>美妆</string>
					</dict>
					<dict>
						<key>id</key>
						<string>177</string>
						<key>name</key>
						<string>家装</string>
					</dict>
					<dict>
						<key>id</key>
						<string>178</string>
						<key>name</key>
						<string>养生</string>
					</dict>
					<dict>
						<key>id</key>
						<string>179</string>
						<key>name</key>
						<string>风水</string>
					</dict>
					<dict>
						<key>id</key>
						<string>180</string>
						<key>name</key>
						<string>烹饪</string>
					</dict>
					<dict>
						<key>id</key>
						<string>181</string>
						<key>name</key>
						<string>星座</string>
					</dict>
					<dict>
						<key>id</key>
						<string>182</string>
						<key>name</key>
						<string>生活百科其他</string>
					</dict>
				</array>
				<key>id</key>
				<string>25</string>
				<key>name</key>
				<string>生活百科</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<dict>
						<key>id</key>
						<string>183</string>
						<key>name</key>
						<string>股票</string>
					</dict>
					<dict>
						<key>id</key>
						<string>184</string>
						<key>name</key>
						<string>期货</string>
					</dict>
					<dict>
						<key>id</key>
						<string>185</string>
						<key>name</key>
						<string>贵金属</string>
					</dict>
					<dict>
						<key>id</key>
						<string>186</string>
						<key>name</key>
						<string>投资理财其他</string>
					</dict>
				</array>
				<key>id</key>
				<string>26</string>
				<key>name</key>
				<string>投资理财</string>
			</dict>
		</array>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>生活/兴趣</string>
	</dict>
</array>
</plist>
